@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.glass-nav {
  -webkit-backdrop-filter: blur(35px) saturate(180%);
  backdrop-filter: blur(35px) saturate(180%);
}